In [ ]:
#Import necessary libraries
import numpy as np
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
import pandas as pd

In [ ]:
# Load the dataset
df = pd.read_csv("/content/HR_Analytics.csv")

In [ ]:
#Visualize the data
df.info()
print('\n')
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1480 entries, 0 to 1479
Data columns (total 38 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   EmpID                     1480 non-null   object
 1   Age                       1480 non-null   int64
 2   AgeGroup                  1480 non-null   object
 3   Attrition                 1480 non-null   object
 4   BusinessTravel            1480 non-null   object
 5   DailyRate                 1480 non-null   int64
 6   Department                1480 non-null   object
 7   DistanceFromHome          1480 non-null   int64
 8   Education                 1480 non-null   int64
 9   EducationField            1480 non-null   object
 10  EmployeeCount             1480 non-null   int64
 11  EmployeeNumber            1480 non-null   int64
 12  EnvironmentSatisfaction   1480 non-null   int64
 13  Gender                    1480 non-null   object
 14  HourlyRate                1480 non-null   int64
 15  JobInvolvement            1480 non-null   int64
 16  JobLevel                  1480 non-null   int64
 17  JobRole                   1480 non-null   object
 18  JobSatisfaction           1480 non-null   int64
 19  MaritalStatus             1480 non-null   object
 20  MonthlyIncome             1480 non-null   int64
 21  SalarySlab                1480 non-null   object
 22  MonthlyRate               1480 non-null   int64
 23  NumCompaniesWorked        1480 non-null   int64
 24  Over18                    1480 non-null   object
 25  OverTime                  1480 non-null   object
 26  PercentSalaryHike         1480 non-null   int64
 27  PerformanceRating         1480 non-null   int64
 28  RelationshipSatisfaction  1480 non-null   int64
 29  StandardHours             1480 non-null   int64
 30  StockOptionLevel          1480 non-null   int64
 31  TotalWorkingYears         1480 non-null   int64
 32  TrainingTimesLastYear     1480 non-null   int64
 33  WorkLifeBalance           1480 non-null   int64
 34  YearsAtCompany            1480 non-null   int64
 35  YearsInCurrentRole        1480 non-null   int64
 36  YearsSinceLastPromotion   1480 non-null   int64
 37  YearsWithCurrManager      1423 non-null   float64
dtypes: float64(1), int64(25), object(12)
memory usage: 439.5+ KB

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1480.000000,1480.000000,1480.000000,1480.000000,1480.0,1480.000000,1480.000000,1480.000000,1480.000000,1480.000000,...,1480.000000,1480.0,1480.000000,1480.000000,1480.000000,1480.000000,1480.000000,1480.000000,1480.000000,1423.000000
mean,36.917568,801.384459,9.220270,2.910811,1.0,1031.860811,2.724324,65.845270,2.729730,2.064865,...,2.708784,80.0,0.791892,11.281757,2.797973,2.760811,7.009459,4.228378,2.182432,4.118060
std,9.128559,403.126988,8.131201,1.023796,0.0,605.955046,1.092579,20.328266,0.713007,1.105574,...,1.081995,0.0,0.850527,7.770870,1.288791,0.707024,6.117945,3.616020,3.219357,3.555484
min,18.000000,102.000000,1.000000,1.000000,1.0,1.000000,1.000000,30.000000,1.000000,1.000000,...,1.000000,80.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,465.000000,2.000000,2.000000,1.0,493.750000,2.000000,48.000000,2.000000,1.000000,...,2.000000,80.0,0.000000,6.000000,2.000000,2.000000,3.000000,2.000000,0.000000,2.000000
50%,36.000000,800.000000,7.000000,3.000000,1.0,1027.500000,3.000000,66.000000,3.000000,2.000000,...,3.000000,80.0,1.000000,10.000000,3.000000,3.000000,5.000000,3.000000,1.000000,3.000000
75%,43.000000,1157.000000,14.000000,4.000000,1.0,1568.250000,4.000000,83.000000,3.000000,3.000000,...,4.000000,80.0,1.000000,15.000000,3.000000,3.000000,9.000000,7.000000,3.000000,7.000000
max,60.000000,1499.000000,29.000000,5.000000,1.0,2068.000000,4.000000,100.000000,4.000000,5.000000,...,4.000000,80.0,3.000000,40.000000,6.000000,4.000000,40.000000,18.000000,15.000000,17.000000

DATA CLEANING

In [ ]:
# Check for missing values in each column
df.isnull().sum()

EmpID                        0
Age                          0
AgeGroup                     0
Attrition                    0
BusinessTravel               0
DailyRate                    0
Department                   0
DistanceFromHome             0
Education                    0
EducationField               0
EmployeeCount                0
EmployeeNumber               0
EnvironmentSatisfaction      0
Gender                       0
HourlyRate                   0
JobInvolvement               0
JobLevel                     0
JobRole                      0
JobSatisfaction              0
MaritalStatus                0
MonthlyIncome                0
SalarySlab                   0
MonthlyRate                  0
NumCompaniesWorked           0
Over18                       0
OverTime                     0
PercentSalaryHike            0
PerformanceRating            0
RelationshipSatisfaction     0
StandardHours                0
StockOptionLevel             0
TotalWorkingYears            0
TrainingTimesLastYear        0
WorkLifeBalance              0
YearsAtCompany               0
YearsInCurrentRole           0
YearsSinceLastPromotion      0
YearsWithCurrManager        57
dtype: int64

In [ ]:
#Handle missing values in YearsWithCurrManager (impute with median)
df['YearsWithCurrManager'].fillna(df['YearsWithCurrManager'].median(), inplace=True)

In [ ]:
#Drop irrelevant columns
drop_cols = ['EmployeeCount','StandardHours','Over18','EmployeeNumber','EmpID']
df.drop(columns=drop_cols, inplace=True)

In [ ]:
#Create salary bands
df['SalaryBand'] = pd.cut(df['MonthlyIncome'],
                          bins=[0, 3000, 6000, 12000, 20000],
                          labels=['Low','Medium','High','Very High'])

In [ ]:
#Create tenure bands
df['TenureBand'] = pd.cut(df['YearsAtCompany'],
                          bins=[-1,3,7,12,40],   # start from -1 to include 0 years
                          labels=['0-3 yrs','4-7 yrs','8-12 yrs','13+ yrs'])

In [ ]:
#Validation after preprocessing
print("\nDataset info after preprocessing:\n")
print(df.info())
print("\nFirst rows after preprocessing:\n")
print(df.head())
print("\nMissing values after preprocessing:\n")
print(df.isnull().sum())

Dataset info after preprocessing:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1480 entries, 0 to 1479
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1480 non-null   int64
 1   AgeGroup                  1480 non-null   object
 2   Attrition                 1480 non-null   object
 3   BusinessTravel            1480 non-null   object
 4   DailyRate                 1480 non-null   int64
 5   Department                1480 non-null   object
 6   DistanceFromHome          1480 non-null   int64
 7   Education                 1480 non-null   int64
 8   EducationField            1480 non-null   object
 9   EnvironmentSatisfaction   1480 non-null   int64
 10  Gender                    1480 non-null   object
 11  HourlyRate                1480 non-null   int64
 12  JobInvolvement            1480 non-null   int64
 13  JobLevel                  1480 non-null   int64
 14  JobRole                   1480 non-null   object
 15  JobSatisfaction           1480 non-null   int64
 16  MaritalStatus             1480 non-null   object
 17  MonthlyIncome             1480 non-null   int64
 18  SalarySlab                1480 non-null   object
 19  MonthlyRate               1480 non-null   int64
 20  NumCompaniesWorked        1480 non-null   int64
 21  OverTime                  1480 non-null   object
 22  PercentSalaryHike         1480 non-null   int64
 23  PerformanceRating         1480 non-null   int64
 24  RelationshipSatisfaction  1480 non-null   int64
 25  StockOptionLevel          1480 non-null   int64
 26  TotalWorkingYears         1480 non-null   int64
 27  TrainingTimesLastYear     1480 non-null   int64
 28  WorkLifeBalance           1480 non-null   int64
 29  YearsAtCompany            1480 non-null   int64
 30  YearsInCurrentRole        1480 non-null   int64
 31  YearsSinceLastPromotion   1480 non-null   int64
 32  YearsWithCurrManager      1480 non-null   float64
 33  SalaryBand                1480 non-null   category
 34  TenureBand                1480 non-null   category
dtypes: category(2), float64(1), int64(22), object(10)
memory usage: 385.0+ KB
None

First rows after preprocessing:

   Age AgeGroup Attrition     BusinessTravel  DailyRate  \
0   18    18-25       Yes      Travel_Rarely        230
1   18    18-25        No      Travel_Rarely        812
2   18    18-25       Yes  Travel_Frequently       1306
3   18    18-25        No         Non-Travel        287
4   18    18-25       Yes         Non-Travel        247

               Department  DistanceFromHome  Education EducationField  \
0  Research & Development                 3          3  Life Sciences
1                   Sales                10          3        Medical
2                   Sales                 5          3      Marketing
3  Research & Development                 5          2  Life Sciences
4  Research & Development                 8          1        Medical

   EnvironmentSatisfaction  ... StockOptionLevel  TotalWorkingYears  \
0                        3  ...                0                  0
1                        4  ...                0                  0
2                        2  ...                0                  0
3                        2  ...                0                  0
4                        3  ...                0                  0

   TrainingTimesLastYear  WorkLifeBalance YearsAtCompany  YearsInCurrentRole  \
0                      2                3              0                   0
1                      2                3              0                   0
2                      3                3              0                   0
3                      2                3              0                   0
4                      0                3              0                   0

  YearsSinceLastPromotion  YearsWithCurrManager SalaryBand  TenureBand
0                       0                   0.0        Low     0-3 yrs
1                       0                   0.0        Low     0-3 yrs
2                       0                   0.0        Low     0-3 yrs
3                       0                   0.0        Low     0-3 yrs
4                       0                   0.0        Low     0-3 yrs

[5 rows x 35 columns]

Missing values after preprocessing:

Age                         0
AgeGroup                    0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
SalarySlab                  0
MonthlyRate                 0
NumCompaniesWorked          0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
SalaryBand                  0
TenureBand                  0
dtype: int64

In [ ]:
#Save the cleaned dataset
df.to_csv("HR_Analytics_Clean.csv", index=False)
print("\n✅ Clean dataset saved as HR_Analytics_Clean.csv")

✅ Clean dataset saved as HR_Analytics_Clean.csv